@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

:root,
:host {
    --md-sys-color-background: #fff8f8;
    --md-sys-color-on-background: #27171c;
    --md-sys-color-surface: #fff8f8;
    --md-sys-color-surface-dim: #f1d3d9;
    --md-sys-color-surface-bright: #fff8f8;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #fff0f2;
    --md-sys-color-surface-container: #ffe8ed;
    --md-sys-color-surface-container-high: #ffe1e7;
    --md-sys-color-surface-container-highest: #f9dbe2;
    --md-sys-color-on-surface: #27171c;
    --md-sys-color-surface-variant: #ffd9e2;
    --md-sys-color-on-surface-variant: #5b3f47;
    --md-sys-color-inverse-surface: #3e2b31;
    --md-sys-color-inverse-on-surface: #ffecf0;
    --md-sys-color-outline: #8f6f77;
    --md-sys-color-outline-variant: #e3bdc6;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #b90063;
    --md-sys-color-primary: #9f0054;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #e2007a;
    --md-sys-color-on-primary-container: #ffffff;
    --md-sys-color-inverse-primary: #ffb1c8;
    --md-sys-color-secondary: #a92e62;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #ff83ae;
    --md-sys-color-on-secondary-container: #470022;
    --md-sys-color-tertiary: #9b2000;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #dd3200;
    --md-sys-color-on-tertiary-container: #ffffff;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;
}